<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin Board 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <a href="/">Bulletin Board</a>
    <hr>

  <!--These helper methods were automatically created by the resource generator in the controller file. To choose which errors actually trigger the notice and alert, I must write the instances of the validate() method in the post.rb model file for each field I care about-->
    <%= notice %>
    <%= alert %> 


    <%= yield %>
  </body>
</html>
